/* #light {
    background-color: #6ACFC7;
}

#dark {
    background-color: #46045e;
}

#dark .navbar {
    background-color: rgba(0, 0, 0, 0.315);
    color: whitesmoke;
} */

.font {
    font-family: 'Playfair Display', sans-serif;
}